<!-- views/partials/LandingsManageToolbar.ejs -->
<div class="flex gap-4">
    <button
      id="createButton"
      class="bg-green-500 text-white p-2 rounded"
      onclick="createLanding()"
    >
      Create
    </button>
    <button
      id="updateButton"
      class="bg-blue-500 text-white p-2 rounded"
      onclick="updateLanding()"
      style="display: none;"
    >
      Update
    </button>
    <button
      id="deleteButton"
      class="bg-red-500 text-white p-2 rounded"
      onclick="deleteLanding()"
      style="display: none;"
    >
      Delete
    </button>
    <button
      id="Preview"
      class="bg-blue-500 text-white p-2 rounded"
      onclick="previewLanding()"
      style="display: none;"
    >
      Preview
    </button>
  </div>
  