# Required
MONGODB_URI=mongodb://root:gtf@195.154.119.28:27017

# Optional
LOG_ROTATOR_CRON_STRING=* * * * *
DEBUG_SCOPES=*
DEBUG_LEVEL=4
NODE_ENV=production
ACKEE_SERVER=
ACKEE_DOMAIN_ID=
FRONT_END_ENVS=ACKEE_SERVER,ACKEE_DOMAIN_ID
