MONGODB_URI=
DBNAME=landing_proxyflare
PROXYFLARE_URL=proxyflare_public_url
PROXYFLARE_APIKEY=your_proxyflare_api_key
PROXYFLARE_PROXY_HOST_DEFAULT=your_server_static_ip
PROXYFLARE_PROXY_PORT_DEFAULT=docker_exposed_port
AUTH_USER=admin
AUTH_PASSWORD=admin