<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= t('title') %></title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/frenchkiss/dist/umd/frenchkiss.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <script>
        window.localeData = <%- localeData %>;
        frenchkiss.set('current', window.localeData);
        window.t = (key) => frenchkiss.t(key, {}, 'current');
    </script>
</head>
<body class="bg-gray-100">
    <div id="root"></div>
    <script src="/dist/client.min.js"></script>

    <%- include('./partials/events.ejs') -%>
</body>
</html>